
@font-face {
    font-family: "kollektif";
    src: url("kollektif-font/Kollektif.ttf");
}

@font-face {
    font-family: "garet";
    src: url("garet-font/Garet-Book.ttf");
}

@font-face {
    font-family: "amaranth";
    src: url("amaranth-font/Amaranth-Regular.ttf");
}

body {
    background-color: #e5eefd;
    overflow:scroll;
    margin:0;
}

.body-header {
    font-family: "kollektif",sans-serif;
}

.body-text {
    font-family: "garet", sans-serif;
}

.text-header {
    font-family: "amaranth", sans-serif;
}

.navbar {
    display:none;
}

.header {
    background-color:white;
    position:relative;
    padding-top:10px;
    padding-left:10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-header {
    margin-right:40px;
    background-color:lightblue;
    font-size: 1.2em;
}



.body-container {
    width: 50%;
}
