
@font-face {
    font-family: "kollektif";
    src: url("kollektif-font/Kollektif.ttf");
}

@font-face {
    font-family: "garet";
    src: url("garet-font/Garet-Book.ttf");
}

@font-face {
    font-family: "amaranth";
    src: url("amaranth-font/Amaranth-Regular.ttf");
}

@font-face {
    font-family: "baron";
    src: url("Baron\ Neue\ -\ Personal\ license/Baron Neue.otf")
}

body {
    background-color: #e5eefd;
    overflow:scroll;
    margin:0;
}

.body-header {
    font-family: "kollektif",sans-serif;
}

.body-text {
    font-family: "garet", sans-serif;
}

.text-header {
    font-family: "amaranth", sans-serif;
}

.navbar {
    display:none;
    justify-content:space-between;
    position:absolute;
    background-color: white;
    top:86px;
    width:90%;
    left:5%;
    transition:opacity .25s ease-in-out;
    z-index:2;
}

.navbar-title {
    font-family: "kollektif", sans-serif;
}

.navbar-text {
    font-family: "baron", sans-serif;
    font-size:1.1em;
}

.column {
    width:300px;
    margin:20px;
}

.navbar-text a {
    text-decoration:none;
}

.navbar-text a:hover {
    text-decoration:underline;
}

.navbar-text a:visited, .navbar-text a:link {
    color:black;
}

.header {
    background-color:white;
    position:relative;
    padding-top:10px;
    padding-left:10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}

.text-header {
    padding:10px;
    font-size: 1.2em;
    list-style-type:none;
    margin-right:5rem;
    
}

.text-header a {
    text-decoration: none;
}

.text-header a:link, .text-header a:visited {
    color: black;
}

.text-header:hover {
    text-decoration:underline;
}

.header ul {
    display:inline-flex;
}

input {
    border:0;
    border-bottom:2px solid black;
    font-size:1em;
    font-family: "garet", sans-serif;
    font-weight:600;
    margin:0;
}
input:focus {
    outline:none;
    background-color: #ebedeb;
    border-radius: 10px;
}


.body-container {
    width: 50%;
}

.join-now {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 90px;
    background-color: #302e3b;
    border: none;
    margin-left: 100px;
    
  }
  
  .join-now:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .contests-btn:hover{
    cursor: pointer;
  }

  
